body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.checkerboard {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
}

.square {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}